# --------------------------
# owned by repo owner (all)
# --------------------------

* @LifelagCheats

# --------------------------
# ignored files (owned by none)
# --------------------------

*.md
.black
